table, th, td {

    padding: 2px;

    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
i {
    padding-top: 10px;
    color: white;
    float: right;
    padding-right: 20px;
    font-size: 40px;
}
th {
    color: white;
    background-color: #723767;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px #723767;
}
td {
    color: black;
    background-color: #974989;
    border: 1px #974989;
}
nav {
    background-color: #723767;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
}
body {
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
    width: auto;
}
a {
    text-decoration: none;
    color: white;
    background-color: #974989;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
h3 {
    color: #5f2e56;
}
img {
    width: 49%;
    height: auto;
}
section {
    width: auto;
    height: auto;
}
iframe {
    margin: auto;
    display: block;
}
footer {
    text-align: left;
}
.tabs {
    width: 20px;
}
.tablinks {
    background-color: #974989;
    padding: 5px;
}
.tabs button {
    background-color: #974989;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 25px;
}
.tabs button:hover {
    background-color: white;
}
.tabs button.active {
    background-color: #974989;
}
.tabcontent {
    display: none;
    border-top: none;
    text-decoration: none;
}
li {
    padding: 5px;
}
@media screen and (max-width: 600px) {
    div.example {
        display: none;
    }
    img {
        width: 100%;
        height: auto;
    }
    section {
        width: auto;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
div.navbar {
    display: none;
}

}
nav {
    padding-bottom: 5px;
    padding-top: 55px;
}
@media screen and (min-width: 600px) {
    div.lol {
        display: none;
    }
    div.tabs {
        display: none;
    }
    div.tabcontent {
        display: none;
    }
}