table, th, td {

    padding: 2px;

    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
i {
    color: white;
    float: right;
    padding-right: 20px;
}
th {
    color: white;
    background-color: #723767;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px #723767;
}
td {
    color: black;
    background-color: #974989;
    border: 1px #974989;
}
nav {
    background-color: #723767;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
}
body {
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
    width: auto;
}
a {
    text-decoration: none;
    color: white;
    background-color: #974989;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
h3 {
    color: #5f2e56;
}
img {
    width: 50%;
    height: auto;
}
section {
    width: auto;
    height: auto;
}
iframe {
    margin: auto;
    display: block;
}
footer {
    text-align: left;
}